{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
 <h1 class="govuk-heading-l">
        Sign in to Companies House
      </h1>
      
      {{ govukInsetText({
        text: "You must sign in to or create a Companies House account."
      }) }}
    <form action="02-company-search" method="post">
      <form class="form" method="post">
        {% if errorEmail == true %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "email",
            type: "email",
            name: "email",
            autocomplete: "email",
            errorMessage: {
              text: "Enter your email address"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            type: "email",
            autocomplete: "email",
            id: "email",
            name: "email"
          }) }}
        {% endif %}
        {% if errorPassword == true %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password",
            errorMessage: {
              text: "Enter your password"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password"
          }) }}
        {% endif %}
<button class="govuk-button"  data-module="govuk-button">
  Sign in

  
</button>

<p class="govuk-body"> <a href="#" class="govuk-link">Create an account</a></p>

<p class="govuk-body"> <a href="#" class="govuk-link">I've forgotten my password</a></p>
</div> </div>
{% endblock %}
