{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-xl">
      {{ serviceName }} V1
    </h1> 
     <ul>
     <li>
     <a href="00-start">Start (DONE)</a>
     
      </li>


 <li>
      <a href="01-sign-in">Sign In (IN PROGRESS)</a>
 </li>

 <li>
      <a href="02-company-search">Company Search (Speak to James)</a>
 </li>

  <li>
      <a href="04-confirm-company">Confirm Company (Spacing needs work)</a>
 </li>
 <li>
      <a href="05-auth-code">Auth code look up (DONE)</a>
 </li>


 <li>
      <a href="06-choose-your-package-accounts">Choose Your Package Accounts (DONE)</a>
 </li>

 <li>
      <a href="07-upload-accounts">Upload Your Package Accounts/Validation progress indicator (Spacing at the top needs to be removed)</a>
 </li>

  

 <li>
      <a href="09-failed-or-successful-validation">Failed or Successful Validation (cant access this page on Matts protoype) </a>
 </li>

  <li>
      <a href="10-check-your-answers">Check Your Answers (needs formatting work) </a>
 </li>

   <li>
      <a href="11-payment-screens">Payments Screens (Speak to James)</a>
 </li>


   <li>
      <a href="12-confirmation-submission">Confirmation Submission </a>
 </li>
     </ul>
  </div>
</div>

{% endblock %}
