{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>


     {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}


    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      Prototypes
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Sprint</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       


       <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v1/version-index">V1</a>
          </td>
          <td class="govuk-table__cell">
            12
          </td>
          <td class="govuk-table__cell">
           27 July 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>
        </tbody>
    </table>

  </div>
</div>

{% endblock %}
